*{
  font-family: "Lucida Console", "Courier New", monospace;
}
body{
  max-width: 500px;
  margin: auto;
}

.card{
  border:solid black 1px;
  margin:5px 5px 5px 5px;
  padding-left: 10px;
  border-radius:10px;
}

.completed{
  text-decoration: line-through;
}
button{
  margin-bottom: 5px;
  border-radius:5px;
}
form{
  display:inline-block;
}
.danger{
  background:#f25050;
}
.done{
  background:#a5fda5
}
.blue{
  background:skyblue
}